modem.img
odm.img
system/system/app/Chrome/Chrome.apk
system/system/app/OPWallpaperResources/OPWallpaperResources.apk
system/system/priv-app/OnePlusCamera/OnePlusCamera.apk
system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/etc/GeoIP2-City.mmdb
